<h3>Please Log In</h3>
<br>
<% if @error %>
    <h5 class="error">Error: <%= @error %></h5>
<% end %>
<form method="POST" action="/login">
    <div class="input-field">
        <input type="text" id="username" name="user[username]">
        <label for="username">Username: </label>
    </div>
    <div class="input-field">
        <input type="password" id="password" name="user[password]">
        <label for="password">Password: </label>
    </div>
        <br>
    <input type="submit" value="Log In" class="btn cyan darken-2"><br><br>
</form>