<h1>Sign Up</h1>
<br>
<h3>If you are already registered, please <a href="/login">Log In</a>.</h3> 
<h3>Otherwise, please sign up with a username and password below:</h3>
<br>
<form method="POST" action="/signup">
    <label for="username">Username: </label>
        <input type="text" id="username" name="user[username]" required>
        <br>
    <label for="password">Password: </label>
        <input type="password" id="password" name="user[password]" required>
        <br>
        <br>
    <input type="submit" value="Sign Up">
</form>