<h1>Sign Up</h1>
<br>
<h5>If you are already registered, please <a href="/login">log in</a>.</h5>
    <br>
<h5>Otherwise, please sign up with a username and password below:</h5>
    <br>

<% if !@errors.nil? %>
    <% @errors.each do |message| %>
        <h5 class="error">Error: <%= message %>.</h5>
    <% end %>
    <br>
<% end %>
<form method="POST" action="/signup">
    <div class="input-field">
        <input type="text" id="username" name="user[username]">
        <label for="username">Username: </label>
    </div>
    <div class="input-field">
        <input type="password" id="password" name="user[password]">
        <label for="password">Password: </label>
    </div>
        <br>
    <input type="submit" value="Sign Up" class="btn cyan darken-2">
</form>