<h1>Sign Up</h1>
<br>
<p>If you are already registered, please <a href="/login">log in</a>.</p> 
<p>Otherwise, please sign up with a username and password below:</p>

<% if !@errors.nil? %>
    <% @errors.each do |message| %>
        <h3 class="error">Error: <%= message %>.</h3>
    <% end %>
    <br>
<% end %>
<form method="POST" action="/signup">
    <label for="username">Username: </label>
        <input type="text" id="username" name="user[username]" >
        <br>
    <label for="password">Password: </label>
        <input type="password" id="password" name="user[password]" >
        <br>
        <br>
    <input type="submit" value="Sign Up">
</form>