<h1>Patients</h1>
<ul>
    <% @patients.each do |patient| %>
        <li><h5><%= patient.name %></h5>
            <% if current_user.patients.include?(patient) %>
                <a href="/patients/<%= patient.id %>"> Patient Information</a>
            <% end %>
        </li>
    <% end %>
    <h5><a href="/patients/new">Add a Patient</a></h5>
</ul>