<h3>Add a New Patient<h3>
<% if !@errors.nil? %>
    <% @errors.each do |message|%>
        <h5 class="error">Error: <%= message %>.</h5>
    <% end %>
<% end %>
<form method="POST" action="/patients">
    <div class="input-field">
        <input type="text" id="patient_name" name="patient[name]" required>
        <label for="patient_name">Patient Name:</label>
    </div>
    <div class="input-field">
        <input type="text" id="birthdate" name="patient[birthdate]" required>
        <label for="birthdate">Birthdate (Ex: 1942-01-03):</label>
    </div>
    <div class="input-field">
        <input type="text" id="weight" name="patient[weight]" >
        <label for="weight">Weight (kg):</label>
    </div>
    <div class="input-field">
        <input type="text" id="allergies" name="patient[allergies]">
        <label for="allergies">Allergies:</label>
    </div>
    <div class="input-field">
        <input type="text" id="medications" name="patient[medications]">
        <label for="medications">Medications:</label>
    </div>
    <input type="submit" value="Add Patient" class="btn cyan darken-2">
</form>