<h1>Health Care Portal</h1>
<br>
<body>

<p>A web-app for doctors to view and edit information for the care of their patients.</p>
<p>If you are already registered, please <a href="/login">log in</a>.</p>
<p>Otherwise, please <a href="/signup">sign up</a>.</p>
</body>